<div class="main-content">
  <form [formGroup]="meterComplianceForm">
    <div class="row">
      <div class="col-lg-12">


        <!-- {{meterComplianceForm.value | json}} -->
        <div class="row">
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>WorkOrder No.</label>
              <input type="text" class="form-control" placeholder="WorkOrder No." value=""
                formControlName="workorderNo" readonly>
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" placeholder="Description" value="" formControlName="description" readonly>
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>Worktype</label>
              <input type="text" class="form-control" placeholder="Worktype" value="" formControlName="worktype" readonly>
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>WO Status</label>
              <input type="text" class="form-control" placeholder="WO Status" value="" formControlName="woStatus" readonly>
            </div>
          </div>
          <div class="col-md-12 px-1">
            <div class="form-group btn-normal">
              <!-- <label style="visibility:hidden">Create Snag</label> -->
              <button type="button" (click)="addMeter()" [ngClass]="isDisabled == true ? 'isDisabled' : ''" [disabled]="isDisabled">Add Meter</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12">
        <div class="table-responsive">
          <p class="table-heading">Meter Compliance</p>
          <div class="table-scroll">
            <table class="table ">
              <thead class=" text-primary">
                <th>Asset</th>
                <th>Description</th>
                <th>Part No.</th>
                <th>Serial#</th>
                <th>Build Item</th>
                <th>Meter</th>
                <th>Meter Description</th>
                <th>Initial Value</th>
                <th>Final Value</th>
                <th>Reading Date</th>
                <th>Updated By</th>
                <th>Updated Date</th>
                <th>Action</th>

              </thead>
              <tbody>
                <ng-container formArrayName="meterdetails">
                  <tr *ngFor="let meterdetail of meterDetailForm.controls;let i = index" [formGroupName]="i">


                    <td>
                      <input type="text" class="form-control" [id]="'asset' + i" placeholder="asset"
                        formControlName="asset">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'description' + i"
                        placeholder="description" formControlName="description">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'partNo' + i" placeholder="partNo"
                        formControlName="partNo">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'serial' + i" placeholder="serial"
                        formControlName="serial">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'buildItem' + i" placeholder="buildItem"
                        formControlName="buildItem">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'meter' + i" placeholder="meter"
                        formControlName="meter">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'meterDescription' + i" placeholder="meterDescription"
                        formControlName="meterDescription">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'initialValue' + i" placeholder="initialValue"
                        formControlName="initialValue">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'finalValue' + i" placeholder="finalValue"
                        formControlName="finalValue">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'readingDate' + i" placeholder="readingDate"
                        formControlName="readingDate">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'updatedBy' + i" placeholder="updatedBy"
                        formControlName="updatedBy">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'updatedDate' + i" placeholder="updatedDate"
                        formControlName="updatedDate">
                    </td>
                    <td>
                      <button type="submit">save</button>
                      <button type="submit">Delete</button>
                    </td>

                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>