<div class="main-content">
  <form [formGroup]="meterComplianceForm">
    <div class="row">
      <div class="col-lg-12">


        <!-- {{meterComplianceForm.value | json}} -->
        <div class="row">
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>WorkOrder No.</label>
              <input type="text" class="form-control" placeholder="WorkOrder No." value=""
                formControlName="workorderNo" readonly>
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" placeholder="Description" value="" formControlName="description" readonly>
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>Worktype</label>
              <input type="text" class="form-control" placeholder="Worktype" value="" formControlName="worktype" readonly>
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>WO Status</label>
              <input type="text" class="form-control" placeholder="WO Status" value="" formControlName="woStatus" readonly>
            </div>
          </div>
          <div class="col-md-12 px-1">
            <div class="form-group btn-normal">
              <!-- <label style="visibility:hidden">Create Snag</label> -->
              <button type="button" (click)="addMeter()" [ngClass]="isDisabled == true ? 'isDisabled' : ''" [disabled]="isDisabled">Add Meter</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12">
        <div class="table-responsive">
          <p class="table-heading">Meter Compliance</p>
          <div class="table-scroll">
            <table class="table ">
              <thead class=" text-primary">
                <th>Asset</th>
                <th>Description</th>
                <th>Part No.</th>
                <th>Serial#</th>
                <th>Build Item</th>
                <th>Meter</th>
                <th>Meter Description</th>
                <th>Initial Value</th>
                <th>Final Value</th>
                <th>Reading Date</th>
                <th>Updated By</th>
                <th>Updated Date</th>
                <th>Action</th>

              </thead>
              <tbody>
                <ng-container formArrayName="meterdetails">
                  <tr *ngFor="let meterdetail of meterDetailForm.controls;let i = index" [formGroupName]="i">
                    <td class="table-position">
                      <i class="now-ui-icons ui-1_zoom-bold lookup" *ngIf="!meterDetails" (click)="selectAsset(asset,i)"></i>
                      <input type="text" class="form-control" [id]="'asset' + i" placeholder="asset"
                        formControlName="asset" readonly>
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'description' + i"
                        placeholder="description" formControlName="description" readonly>
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'partNo' + i" placeholder="partNo"
                        formControlName="partNo" readonly>
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'serial' + i" placeholder="serial"
                        formControlName="serial" readonly>
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'buildItem' + i" placeholder="buildItem"
                        formControlName="buildItem" readonly>
                    </td>
                    <td class="table-position">
                      <i class="now-ui-icons ui-1_zoom-bold lookup" *ngIf="!meterDetails" (click)="selectMeter(meter,i)"></i>
                      <input type="text" class="form-control" [id]="'meter' + i" placeholder="meter"
                        formControlName="meter" readonly>
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'meterDescription' + i" placeholder="meterDescription"
                        formControlName="meterDescription" readonly>
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'initialValue' + i" placeholder="initialValue"
                        formControlName="initialValue">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'finalValue' + i" placeholder="finalValue"
                        formControlName="finalValue">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'readingDate' + i" placeholder="readingDate"
                        formControlName="readingDate">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'updatedBy' + i" placeholder="updatedBy"
                        formControlName="updatedBy">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'updatedDate' + i" placeholder="updatedDate"
                        formControlName="updatedDate">
                    </td>
                    <td>
                      <button type="button" (click)="saveMeter()">save</button>
                      <button type="submit">Delete</button>
                    </td>

                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </form>
  <div class="row">
    <div class="col-lg-12">
      <ng-template #asset let-model class="assest">
          <div class="model-header">
              <h6 class="model-title" id="model-basic-title">Asset Name</h6>
              <button type="button" class="close" aria-label="Close" (click)="model.close('Cross click')">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
          </div>
          <div class="model-body">
            {{searchvalue1}}
              <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]='searchvalue' placeholder="search">
              </div>
              <div class="table-responsive">
                  <div class="table-scroll">
                      <table class="table">
                          <thead class="text-primary">
                              <th>Selection</th>
                              <th>Assest</th>
                              <th>Description</th>
                              <th>Part Number</th>
                              <th>Serial#</th>
                              <th>Build Item</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let assetArray of assetArray | search : searchvalue ;let i = index">
                                  <td>
                                      <input type="radio" (click)="assetSave(assetArray.indexCount)" name="radio" value="{{assetArray.indexCount}}" [disabled]="assetRadio">
                                  </td>
                                  <td>{{assetArray.assetnum}}</td>
                                  <td>{{assetArray.description}}</td>
                                  <td>{{assetArray.partnumber}}</td>
                                  <td>{{assetArray.serialnumber}}</td>
                                  <td>{{assetArray.builditem}}</td>
                                  <td style="display: none;">{{assetArray.indexCount}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
             
          </div>

          <div class="model-footer">
              <button type="button" (click)="model.close('Save click')" >Save</button>
          </div>

      </ng-template>
    </div>
    <div class="col-lg-12">
      <ng-template #meter let-model class="assest">
          <div class="model-header">
              <h6 class="model-title" id="model-basic-title">Meter Name</h6>
              <button type="button" class="close" aria-label="Close" (click)="model.close('Cross click')">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
              </button>
          </div>
          <div class="model-body">
              <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]='searchvalue' placeholder="search">
              </div>
              <div class="table-responsive">
                  <div class="table-scroll">
                      <table class="table">
                          <thead class="text-primary">
                              <th>Selection</th>
                              <th>Meter</th>
                              <th>Description</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let meterArray of meterArray  | search : searchvalue ;let i = index">
                                <!-- | search : searchvalue -->
                                  <td>
                                      <input type="radio" (click)="meterSave(meterArray.indexCount)" name="radio" value="{{assetArray.indexCount}}" [disabled]="assetRadio">
                                  </td>
                                  <td>{{meterArray.meternum}}</td>
                                  <td>{{meterArray.description}}</td>
                                  <td style="display: none;">{{meterArray.indexCount}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              
          </div>

          <div class="model-footer">
              <button type="button" (click)="model.close('Save click')">Save</button>
          </div>

      </ng-template>
    </div>
  </div>
</div>