<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
    	<form>
            <div class="row create-snag">
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Record No.</label>
                  <input type="text" class="form-control" placeholder="Record No" value="">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Aircraft No.</label>
                  <input type="text" class="form-control" placeholder="Aircraft No" value="">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Dett. Location</label>
                  <input type="text" class="form-control" placeholder="Dett Location" value="">
                </div>
              </div>
               <div class="col-md-12">
                <div class="form-group btn-normal">
                  <label style="visibility:hidden">Create Snag</label>
                 <button type="submit" class="save">Create Snag </button>
                </div>
              </div>
            </div> 
        </form>     
    </div>
    <div class="col-md-12">
     <div class="table-responsive">
        <p class="table-heading">Snag Reporting</p>
        <div class="table-scroll">
          <table class="table">
            <thead class=" text-primary">
              <th>Snag#</th>
              <th>Discription</th>
              <th>Asset</th>
              <th>Serial</th>
              <th>Snag Category</th>
              <th>Snag Status</th>
              <th>Reported by</th>
              <th>Reported Date</th>
            </thead>
            <tbody>
              <tr>
                <td><button (click)="snagId(id)" class="btn-click">A-123456</button></td>
                <td>Assy</td>
                <td>S1</td>
                <td>C1</td>
                <td>I1</td>
                <td>AF Hrs 2470:00:00</td>
                <td>AF Hrs 3000:00:00</td>
                <td>AF Hrs 3000:00:00</td>
              </tr>
              <tr>
                <td><button (click)="snagId(id)" class="btn-click">A-123456</button></td>
                <td>Assy</td>
                <td>S1</td>
                <td>C1</td>
                <td>I1</td>
                <td>AF Hrs 2470:00:00</td>
                <td>AF Hrs 3000:00:00</td>
                <td>AF Hrs 3000:00:00</td>
              </tr>
              <tr>
                <td><button (click)="snagId(id)" class="btn-click">A-123456</button></td>
                <td>Assy</td>
                <td>S1</td>
                <td>C1</td>
                <td>I1</td>
                <td>AF Hrs 2470:00:00</td>
                <td>AF Hrs 3000:00:00</td>
                <td>AF Hrs 3000:00:00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
