<div class="main-content">
    <div class="row">
        <div class="col-lg-12">
            <planned-asset-header></planned-asset-header>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive">
                <p class="table-heading">Flight Log Book</p>
                <p class="table-heading">Sortie Accept/Reject</p>
                <div class="table-scroll">
                    <form formArrayName="sortieForm">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>Sortie Number</th>
                                <th>Sortie Date</th>
                                <th>ETD Date #</th>
                                <th>ETD(IST)(HH:MM)</th>
                                <th>Duration(HH:MM)</th>
                                <th>Flight Type</th>
                                <th>Sortie Status</th>
                                <th>Status Date</th>
                                <th>Changed By</th>
                                <th>Remarks/Caution</th>
                                <th>Reason/Observation</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sortie of sortieForm.controls">
                                    <td><input [value]="sortie.sortieNum" type="text" class="form-control"
                                            placeholder="Sortie Number"></td>
                                    <td><input [value]="sortie.sortieDate" step="1" type="datetime-local" class="form-control">
                                    </td>
                                    <td><input [value]="sortie.etdDate" type="date" class="form-control"></td>
                                    <td><input [value]="sortie.etd" type="time" class="form-control"></td>
                                    <td><input [value]="sortie.duration" type="time" class="form-control"></td>
                                    <td><input [value]="sortie.fltType" type="text" class="form-control"></td>
                                    <td>{{sortie.status}}</td>
                                    <td>{{sortie.statusDate}}</td>
                                    <td>{{sortie.changedBy}}</td>
                                    <td><input [value]="sortie.remarks" type="text" class="form-control"></td>
                                    <td><input [value]="sortie.reason" type="text" class="form-control"></td>
                                    <td>
                                        <button type="button" class="btn btn-success">Accept</button>
                                        <button type="button" class="btn btn-danger">Reject</button>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </form>

                </div>
                <button (click)="createNewSortie()" class="float-right">New</button>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <p class="table-heading">Post Flight Data</p>
                <form>
                    <div class="row">
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Flight Date</label>
                                <input type="text" class="form-control" placeholder="Flight Date" value="">
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Flight Type</label>
                                <input type="text" class="form-control" placeholder="Flight Type" value="">
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>FLB Status</label>
                                <input type="text" class="form-control" placeholder="FLB Status" value="">
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Sortie Number</label>
                                <input type="text" class="form-control" placeholder="Sortie Number" value="">
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Departure Time</label>
                                <input type="text" class="form-control" placeholder="Departure Time" value="">
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Flight Hours</label>
                                <input type="text" class="form-control" placeholder="Flight Hours" value="">
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Arrival Time</label>
                                <input type="text" class="form-control" placeholder="Arrival Time" value="">
                            </div>
                        </div>
                        <div class="col-md-12 px-1">
                            <div class="form-group btn-normal">
                                <!-- <label style="visibility:hidden">Create Snag</label> -->
                                <button type="submit">New</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <p class="table-heading">Continuous Meter</p>

                <div class="table-scroll">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Asset Number</th>
                            <th>Build Item</th>
                            <th>Position</th>
                            <th>Meter</th>
                            <th>Description</th>
                            <th>UpdatedBy</th>
                            <th>Meter Reading</th>

                        </thead>
                        <tbody>
                            <tr>
                                <td>A-123456</td>
                                <td>Assy</td>
                                <td>S1</td>
                                <td>C1</td>
                                <td>I1</td>
                                <td>AF Hrs 2470:00:00</td>
                                <td>AF Hrs 3000:00:00</td>

                            </tr>

                        </tbody>

                    </table>

                </div>


            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <p class="table-heading">Arming-De-Arming Logs</p>

                <div class="table-scroll">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Station No.</th>
                            <th> Position</th>
                            <th>Asset Type</th>
                            <th>Item/GIG No.</th>
                            <th>Part No.</th>
                            <th>Serial No.</th>
                            <th>Lot No.</th>
                            <th>Date of Manufacturing</th>
                            <th>Current Quantity</th>
                            <th>Fired Quantity</th>
                            <th>Remarks</th>

                        </thead>
                        <tbody>
                            <tr>
                                <td>A-123456</td>
                                <td>Assy</td>
                                <td>S1</td>
                                <td>C1</td>
                                <td>I1</td>
                                <td>AF Hrs 2470:00:00</td>
                                <td>AF Hrs 3000:00:00</td>
                                <td>C1</td>
                                <td>I1</td>
                                <td></td>
                                <td></td>

                            </tr>

                        </tbody>

                    </table>

                </div>


            </div>
        </div>

    </div>
</div>