.table-responsive .table-scroll {
  overflow: auto;
  margin-bottom: 10px;
}
.table-responsive .table {
  margin-bottom: 0 !important;
  display: block;
  white-space: nowrap;
}

#save-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
