.flb {
  margin: 20px;
}

.flb__form {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.table-responsive .table-scroll {
  overflow: auto;
  margin-bottom: 10px;
}
.table-responsive .table {
  margin-bottom: 0 !important;
  display: block;
  white-space: nowrap;
}

.fit-content {
  width: fit-content;
}

.table-responsive .table td .form-control {
  width: fit-content;
  margin-bottom: 5px;
}

.save-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

button:focus {
  outline: none;
}
