<div>
    <div class="header">
        <app-navbar></app-navbar>
    </div>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="loginForm">
                <h4>Login</h4>
                <div class="form-group required">
                    <label class="control-label">Service No.</label>
                    <!-- <input type="text" class="form-control" [disabled]="true" placeholder="ce No." value=""
                        > -->
                    <input type="text" class="form-control" placeholder="Service No." value=""
                        formControlName="serviceNumber" [readonly]="isShow" (blur)="adminUser('admin')">
                    <p class="errors" *ngIf="loginForm.controls['serviceNumber'].errors?.required && isSubmitted ">
                        Please enter Service No.</p>
                </div>

                <div class="form-group required" *ngIf="(isShow && !isShow1) || adminCheck">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" value=""
                        formControlName="password" required>
                    <p class="errors" *ngIf="loginForm.controls['password'].errors?.required && isSubmitted ">Please
                        enter Password</p>
                </div>
                <div class="row check-grp" *ngIf="!adminCheck">
                    <div class="form-group col-sm-8 check">
                        <input type="checkbox" id="check" value="" (change)="onChecked($event)">
                        <label class="control-label" *ngIf="!isShow && !isShow1">Check Service Number
                            availability</label>
                        <label class="control-label" *ngIf="isShow || isShow1">Service Number is available </label>
                    </div>
                    <div class="form-group col-sm-4 button" *ngIf="isShow">
                        <button *ngIf="(isShow && !isShow1) || adminCheck" class="buttons" (click)="changePassword(changePass)">Change Password</button>
                        <button *ngIf="(isShow && !isShow1) || adminCheck" class="buttons" (click)="forgotPassword(forgotPass)">Forgot Password</button>
                    </div>
                </div>
                <!-- //class="form-group btn-savecancel" -->
                <div>
                    <button type="button" class="buttons" *ngIf="isShow && isShow1"
                        (click)="generatePassword(generatePass)">Generate Password</button>

                </div>
                <div>
                    <button type="button" class="buttons" *ngIf="(isShow && !isShow1) || adminCheck"
                        (click)="loginButton()">Login</button>
                </div>
            </form>
            <ng-template #forgotPass let-model>
                <div class="model-header">
                    <h6 class="model-title" id="model-basic-title">Forgot Password</h6>
                    <button type="button" class="close" aria-label="Close" (click)="model.close('Cross click')">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                </div>
                <div class="model-body">
                    <div class="row">
                        <div class=col-lg-12>
                            <form [formGroup]="forgotPasswordQuestionForm">
                                <div class="row">
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">1. What is your pet name</label>
                                            <input type="text" class="form-control" placeholder="" value=""
                                                formControlName="petName">
                                            <p class="errors"
                                                *ngIf="forgotPasswordQuestionForm.controls['petName'].errors?.required && isSubmitted ">
                                                Please enter your pet Name</p>
                                        </div>
                                    </div>
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">2. What is your birth place</label>
                                            <input type="text" class="form-control" placeholder="" value=""
                                                formControlName="birthPlace">
                                            <p class="errors"
                                                *ngIf="forgotPasswordQuestionForm.controls['birthPlace'].errors?.required && isSubmitted ">
                                                Please enter your birth place</p>
                                        </div>
                                    </div>
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">3. What is your mother tongue</label>
                                            <input type="text" class="form-control" placeholder="" value=""
                                                formControlName="motherTongue">
                                            <p class="errors"
                                                *ngIf="forgotPasswordQuestionForm.controls['motherTongue'].errors?.required && isSubmitted ">
                                                Please enter your mother tongue</p>
                                        </div>
                                    </div>
                                    <div class=col-lg-12>
                                        <div class="form-group ">
                                            <button type="button" (click)="onQuestionChecked()">Check Answer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form [formGroup]="forgotPasswordForm">
                                <div class="row">
                                    <div class=col-lg-12>
                                        <div class="form-group required" *ngIf="forgotPasswordCheck">
                                            <label class="control-label">New Password</label>
                                            <input [type]="newPass ? 'password' : 'text'" class="form-control"
                                                placeholder="Password" value="" formControlName="newPassword"
                                                (blur)="forgotcheck('newPassword')" required>
                                            <button (click)="newPass = !newPass" class="visibility">
                                                <i class="now-ui-icons business_bulb-63"
                                                    [ngClass]="newPass ? '' : 'active'"></i>
                                            </button>
                                            <p class="errors"
                                                *ngIf="forgotPasswordForm.controls['newPassword'].errors?.required && isSubmitted ">
                                                Please enter new Password</p>
                                            <p class="errors"
                                                *ngIf="!reGexBool && forgotPasswordForm.controls['newPassword'].touched ">
                                                Password must contain a digit,capital letter,small letter with length 8.
                                            </p>
                                        </div>
                                    </div>
                                    <div class=col-lg-12>
                                        <div class="form-group required" *ngIf="forgotPasswordCheck">
                                            <label class="control-label">Confirm New Password</label>
                                            <input [type]="confirmPass ? 'password' : 'text'" class="form-control"
                                            placeholder="Password" value="" formControlName="confirmNewPassword"
                                            (blur)="forgotcheck('confirmNewPassword')" required>
                                        <button (click)="confirmPass = !confirmPass" class="visibility">
                                            <i class="now-ui-icons business_bulb-63"
                                                [ngClass]="confirmPass ? '' : 'active'"></i>
                                        </button>
                                        <p class="errors"
                                            *ngIf="forgotPasswordForm.controls['confirmNewPassword'].errors?.required && isSubmitted ">
                                            Please enter confirm Password</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="model-footer" *ngIf="forgotPasswordCheck">
                    <button type="button"  [disabled]="!isGeneratePass" (click)="model.close('Save click')">Submit</button>
                </div>
            </ng-template>
            <ng-template #changePass let-model>
                <div class="model-header">
                    <h6 class="model-title" id="model-basic-title">Change Password</h6>
                    <button type="button" class="close" aria-label="Close" (click)="model.close('Cross click')">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                </div>
                <div class="model-body">
                    <div class="row">
                        <div class=col-lg-12>
                            <form [formGroup]="changePasswordForm">
                                <div class="row">
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">Current Password</label>
                                            <input type="text" class="form-control" placeholder="Password" value="" formControlName="currentPassword" required>
                                            <p class="errors" *ngIf="changePasswordForm.controls['newPassword'].errors?.required && isSubmitted ">
                                                Please enter current Password</p>
                                        </div>
                                    </div>
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">New Password</label>
                                            <input [type]="newPass ? 'password' : 'text'" class="form-control"
                                                placeholder="Password" value="" formControlName="newPassword"
                                                (blur)="changecheck('newPassword')" required>
                                            <button (click)="newPass = !newPass" class="visibility">
                                                <i class="now-ui-icons business_bulb-63"
                                                    [ngClass]="newPass ? '' : 'active'"></i>
                                            </button>
                                            <p class="errors"
                                                *ngIf="changePasswordForm.controls['newPassword'].errors?.required && isSubmitted ">
                                                Please enter new Password</p>
                                            <p class="errors"
                                                *ngIf="!reGexBool && changePasswordForm.controls['newPassword'].touched ">
                                                Password must contain a digit,capital letter,small letter with length 8.
                                            </p>
                                        </div>
                                    </div>
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">Confirm New Password</label>
                                            <input [type]="confirmPass ? 'password' : 'text'" class="form-control"
                                                placeholder="Password" value="" formControlName="confirmNewPassword"
                                                (blur)="changecheck('confirmNewPassword')" required>
                                            <button (click)="confirmPass = !confirmPass" class="visibility">
                                                <i class="now-ui-icons business_bulb-63"
                                                    [ngClass]="confirmPass ? '' : 'active'"></i>
                                            </button>
                                            <p class="errors"
                                                *ngIf="changePasswordForm.controls['confirmNewPassword'].errors?.required && isSubmitted ">
                                                Please enter confirm Password</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="model-footer">
                    <button type="button" [disabled]="!isGeneratePass"
                        (click)="model.close('Save click')">Submit</button>
                </div>
            </ng-template>
            <ng-template #generatePass let-model>
                <div class="model-header">
                    <h6 class="model-title" id="model-basic-title">Generate Password</h6>
                    <button type="button" class="close" aria-label="Close" (click)="model.close('Cross click')">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                </div>
                <div class="model-body">
                    <div class="row">
                        <div class=col-lg-12>
                            <form [formGroup]="generatePasswordForm">
                                <div class="row">
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">1. What is your pet name</label>
                                            <input type="text" class="form-control" placeholder="" value=""
                                                formControlName="petName" (blur)="check('petName')" required>
                                            <p class="errors"
                                                *ngIf="generatePasswordForm.controls['petName'].errors?.required && isSubmitted ">
                                                Please enter your pet Name.</p>
                                        </div>
                                    </div>
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">2. What is your birth place</label>
                                            <input type="text" class="form-control" placeholder="" value=""
                                                formControlName="birthPlace" (blur)="check('birthPlace')" required>
                                            <p class="errors"
                                                *ngIf="generatePasswordForm.controls['birthPlace'].errors?.required && isSubmitted ">
                                                Please enter your birth Place</p>
                                        </div>
                                    </div>
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">3. What is your mother tongue</label>
                                            <input type="text" class="form-control" placeholder="" value=""
                                                formControlName="motherTongue" (blur)="check('motherTongue')" required>
                                            <p class="errors"
                                                *ngIf="generatePasswordForm.controls['motherTongue'].errors?.required && isSubmitted ">
                                                Please enter your mother tongue</p>
                                        </div>
                                    </div>
                                    <div class=col-lg-12>
                                        <div class="form-group required">
                                            <label class="control-label">New Password</label>
                                            <input [type]="newPass ? 'password' : 'text'" class="form-control"
                                                placeholder="Password" value="" formControlName="newPassword"
                                                (blur)="check('newPassword')" required>
                                            <button (click)="newPass = !newPass" class="visibility">
                                                <i class="now-ui-icons business_bulb-63"
                                                    [ngClass]="newPass ? '' : 'active'"></i>
                                            </button>
                                        </div>
                                        </div>

                                        <div>
                                            <p class="errors"
                                                *ngIf="generatePasswordForm.controls['newPassword'].errors?.required && isSubmitted ">
                                                Please enter new Password</p>
                                            <p class="errors"
                                                *ngIf="!reGexBool && generatePasswordForm.controls['newPassword'].touched ">
                                                Password must contain a digit,capital letter,small letter with length 8.
                                            </p>
                                        </div>



                                        <div class=col-lg-12>
                                            <div class="form-group required">
                                                <label class="control-label">Confirm New Password</label>
                                                <input [type]="confirmPass ? 'password' : 'text'" class="form-control"
                                                    placeholder="Password" value="" formControlName="confirmNewPassword"
                                                    (blur)="check('confirmNewPassword')" required>
                                                <button (click)="confirmPass = !confirmPass" class="visibility">
                                                    <i class="now-ui-icons business_bulb-63"
                                                        [ngClass]="confirmPass ? '' : 'active'"></i>
                                                </button>
                                                <p class="errors"
                                                    *ngIf="generatePasswordForm.controls['confirmNewPassword'].errors?.required && isSubmitted ">
                                                    Please enter confirm Password</p>
                                            </div>
                                        </div>
                                    </div>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="model-footer">
                    <button type="button" [disabled]="!isGeneratePass"
                        (click)="model.close('Save click')">Submit</button>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>