<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
    	<form>
            <div class="row">
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Snag No. #</label>
                  <input type="text" class="form-control" placeholder="Snag No" value="">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" placeholder="Description" value="">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Failure Class</label>
                  <select class="form-control" name="snags" size="1" id="snags">
                    <option value="">Select Value</option>
                  	<option  value="" >1</option>
                  	<option value="" >2</option>
                  	<option value="" >3</option>
                  </select>
                </div>
              </div>
             
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Reported By</label>
                  <input type="text" class="form-control" placeholder="Reported By" value="">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Snag Category</label>
                  <select class="form-control" name="snags" size="1" id="snags">
                    <option value="">Select Value</option>
                  	<option value="" >1</option>
                  	<option value="" >2</option>
                  	<option value="" >3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Problem code</label>
                  <select class="form-control" name="snags" size="1" id="snags">
                    <option value="">Select Value</option>
                  	<option  value="" >1</option>
                  	<option value="" >2</option>
                  	<option value="" >3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Remedy</label>
                  <select class="form-control" name="snags" size="1" id="snags">
                    <option value="">Select Value</option>
                    <option value="" >1</option>
                    <option value="" >2</option>
                    <option value="" >3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Reported Date</label>
                  <input type="date" class="form-control" placeholder="Reported Date" value="">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>WDC</label>
                  <select class="form-control" name="snags" size="1" id="snags">
                    <option value="">Select Value</option>
                  	<option value="" >1</option>
                  	<option value="" >2</option>
                  	<option value="" >3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Snag Status</label>
                  <select class="form-control" name="snags" size="1" id="snags">
                    <option value="">Select Value</option>
                  	<option value="" >1</option>
                  	<option value="" >2</option>
                  	<option value="" >3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>ATA/SNS Code</label>
                  <select class="form-control" name="snags" size="1" id="snags">
                    <option value="">Select Value</option>
                  	<option value="" >1</option>
                  	<option value="" >2</option>
                  	<option value="" >3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Status Date</label>
                  <input type="date" class="form-control" placeholder="Status Date" value="">
                </div>
              </div> 
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>summary</label>
                  <textarea  rows="4" cols="50" placeholder="Summary" value="" class="textarea1">
                    </textarea>
                </div>
              </div> 
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Corrective Action</label>
                  <textarea  rows="4" cols="50" placeholder="Corrective Action" value="" class="textarea1">
                    </textarea>
                </div>
              </div>
              <div class="col-md-12 px-1">
                <div class="form-group btn-normal">
                  <button type="button" class="save" (click)="back()">Back</button>
                </div>
              </div>
            </div> 
        </form>     
    </div>
  </div>
