
  
  <div class="main-content">
    <div class="row">
      <div class="col-lg-12">
        <form>
          <div class="row">
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>WorkOrder No.</label>
                <input type="text" class="form-control" placeholder="WorkOrder No" value="" readonly>
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Description" value="" readonly>
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Worktype</label>
                <input type="text" class="form-control" placeholder="Worktype" value="" readonly>
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>WO Status</label>
                <input type="text" class="form-control" placeholder="WO Status" value="" readonly>
              </div>
            </div>
            <div class="col-md-12 px-1" >
              <div class="form-group btn-normal">
                <!-- <label style="visibility:hidden">Create Snag</label> -->
               <button type="button" [ngClass]="isDisabled == true ? 'isDisabled' : ''" [disabled]="isDisabled">Add Line</button>
              </div>
            </div>
          </div>
        </form>
      
    </div>
    <div class="col-lg-12">
      <div class="table-responsive">
        <p class="table-heading">Asset Install/Remove</p>
        <div class="table-scroll">
          <table class="table ">
            <thead class=" text-primary">
              <th>Job Type</th>
              <th>Item</th>
              <th>Build Item</th>
              <th>Position</th>
              
              <th>Part No.</th>
              <th>Action</th>
              
              
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
                <td>
                  <button type="submit" >Install/Remove</button>
                  <button type="submit" >Delete</button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>