<form>
    <div class="row">
        <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Record No.</label>
                <input [value]="headerObject.recordNum" type="text" class="form-control" placeholder="Record No">
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Aircraft No.</label>
                <input [value]="headerObject.arcrftNum" type="text" class="form-control" placeholder="Aircraft No" value="">
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Model</label>
                <input [value]="headerObject.model" type="text" class="form-control" placeholder="Model" value="">
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Variation</label>
                <input [value]="headerObject.variation" type="text" class="form-control" placeholder="Variation" value="">
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Location Of Aircraft</label>
                <input [value]="headerObject.arcrftLoc" type="text" class="form-control" placeholder="Location Of Aircraft" value="">
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Date Of Transfer</label>
                <input [value]="headerObject.trnsfrDate" type="date" class="form-control" placeholder="Date Of Transfer" value="">
            </div>
        </div>
        <!-- <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Date Of Return</label>
                <input type="date" class="form-control" placeholder="Date Of Return" value="">
            </div>
        </div> -->
        <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Dett Location</label>
                <input [value]="headerObject.dettLoc" type="text" class="form-control" placeholder="Dett Location" value="">
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Dett Location Base</label>
                <input [value]="headerObject.dettLocBase" type="text" class="form-control" placeholder="Dett Location Base" value="">
            </div>
        </div>
        <div class="col-md-4 px-1">
            <div class="form-group">
                <label>Status</label>
                <input [value]="headerObject.status" type="text" class="form-control" placeholder="Status" value="">
            </div>
        </div>
    </div>
</form>