<div class="main-content">
  <form [formGroup]="taskComplianceFrom">
     {{taskComplianceFrom.value | json}} 
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>WorkOrder No.</label>
              <input type="text" class="form-control" placeholder="WorkOrder No." value="" readonly>
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" placeholder="Description" value="" readonly>
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>Worktype</label>
              <input type="text" class="form-control" placeholder="Worktype" value="" readonly>
            </div>
          </div>
          <div class="col-md-3 px-1">
            <div class="form-group">
              <label>WO Status</label>
              <input type="text" class="form-control" placeholder="WO Status" value="" readonly>
            </div>
          </div>
          <div class="col-md-12 px-1">
            <div class="form-group btn-normal">
              <!-- <label style="visibility:hidden">Create Snag</label> -->

            </div>
          </div>
          <div class="col-md-12 px-1">
            <div class="form-group btn-normal btn-savecancel">
              <button type="button" (click)="addProductButtonClick()" [ngClass]="isDisabled == true ? 'isDisabled' : ''" [disabled]="isDisabled">Assign Technician</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="table-responsive">
          <p class="table-heading">Task Compliance</p>
          <div class="table-scroll">
            <table class="table">
              <thead class=" text-primary">
                <th>Technician Id</th>
                <th>Technician Name</th>
                <th>Task Description</th>
                <th>Compliance Date</th>
                <th>Action</th>
              </thead>
              <tbody>
                
                  <ng-container formArrayName="AddTechnician">
                <tr  *ngFor="let product of taskComplianceFrom.get('AddTechnician').controls;let i = index" [formGroupName]="i">
                    <td>
                      <select class="form-control" [id]="'technicianId' + i" placeholder="Technician Id"  (change)="abc(i)" formControlName="technicianId">
                        <option value="" disabled selected hidden>Select Technician Id</option>
                        <option *ngFor="let technicianId of technicianIds" [value]="technicianId.servicenum">{{technicianId.servicenum}}</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'technicianName' + i" placeholder="Technician Name" formControlName="technicianName">
                    </td>
                    <td>
                      <input type="text" class="form-control" [id]="'teskDiscription' + i" placeholder="Technician Discription" formControlName="teskDiscription">
                    </td>
                    <td>
                      <input type="datetime-local" class="form-control" [id]="'complianceDate' + i" placeholder="Compliance Date " formControlName="complianceDate">
                    </td>
                    <td>
                      <button type="submit" (click)="onCompliance(i)">Compliance</button>
                      <button type="submit"  (click)="onDelete(i)">Delete</button>
                    </td>
                  
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>