.table-responsive .table  button.isDisabled {
    background-color: #E3E3E3;
    color: #57A3D8;
    cursor: not-allowed;
}
.errors{
    color: red;
    margin: 0;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    bottom: 0;
}